body {
  margin: 0;
  background: black;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

header {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 30vh;
}

.btn {
  padding: 12px 30px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}

#adminBubble {
  position: fixed;
  top: 15px;
  right: 15px;
  background: #111;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
body.admin {
  background: black;
  color: white;
  font-family: Poppins, sans-serif;
  padding: 40px;
}

.admin-card {
  max-width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-card input,
.admin-card textarea {
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  color: white;
}

#dropZone {
  border: 2px dashed #444;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

#preview {
  max-width: 100%;
  display: none;
}

button {
  padding: 12px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}
